.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 10px;

}
.product-name{
    /* margin-left: 30px; */
    font-weight: 400;
    color: #1ca39c;
}

.gap{
    margin-left: 30px;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}